<h4>Bienvenue <%= @user.name %></h4>
<h2>Retiens bien ton ID pour te login plus tard : <strong><%= @user.id %></strong></h2>

<p>Voici les évènements que tu as créé :</p>
<% @created_events.each_with_index do |event, i| %>
  <div class="form-group border">
    <p><%= event.creator.name %></p>
    <p><%= event.description %></p>
    <p><%= event.date %></p>
    <p><%= event.place %></p>
  </div>
<% end %>

<p>Voici les évènements auquel tu participes :</p>
    <h4>Upcoming !!</h4>
<% @upcoming.each_with_index do |event, i| %>
  <div class="form-group border">
    <p><%= event.creator.name %></p>
    <p><%= event.description %></p>
    <p><%= event.date %></p>
    <p><%= event.place %></p>
      <%= link_to "Unsubscribe", {:controller => :events, :action => :unsubscribe, :event => event.id}, :method => :put, class: "btn btn-outline-danger" %>
  </div>
<% end %>

    <h4>Past...</h4>
<% @past.each_with_index do |event, i| %>
  <div class="form-group border">
    <p><%= event.creator.name %></p>
    <p><%= event.description %></p>
    <p><%= event.date %></p>
    <p><%= event.place %></p>
  </div>
<% end %>

<%= link_to "Créer un évènement", new_event_path, class: "btn btn-warning" %>
