<h3>Event n° <%= @event.id %></h3>

<div class="form-group border">
<p><%= @event.creator.name %></p>
<p><%= @event.description %></p>
<p><%= @event.date %></p>
<p><%= @event.place %></p>
</div>

<div class="form-group border">
  <% @event.attendees.each do |att| %></p>
  <p><%= att.name %></p>
  <% end %>
</div>
